<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--<th>
                      <a th:if="${sortField != 'id'}" style="color:black"
                         th:href="@{'/users/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                          User ID</a>
                      <a th:if="${sortField == 'id'}" style="color:black"
                         th:href="@{'/users/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">
                          User ID</a>
                      <span th:if="${sortField == 'id'}"
                            th:class="${sortDir == 'asc' ? 'fa fa-sort-up' : 'fa fa-sort-down'}" style="color:black"></span>
                  </th>-->

<!--//đây tựa như component , 1  cái hàm trong java-->
<th th:fragment="column_link(fieldName,columnLabel)">
    <a style="color:black"
       th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} +'&sortDir=' + ${sortField == fieldName ? reverseSortDir : sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
        [[${columnLabel}]]
    </a>
    <span th:if="${sortField == fieldName}"
          th:class="${sortDir == 'asc' ? 'fa fa-sort-up' : 'fa fa-sort-down'}" style="color:black"></span>
</th>


<a th:fragment="page_link(moduleURL ,pageNum, label, className)"
   th:href="@{${moduleURL} +'/page/' + ${pageNum} + '?sortField='+ ${sortField} +'&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}"
>
    <i th:if="${className != null}"
       th:class="${className}"></i>
    [[${label}]]
</a>

<td th:fragment="category_actions" th:remove="tag">
    <a th:href="@{'/categories/edit/' + ${category.id}}"
       title="Edit this user" class="active" ui-toggle-class=""> <i
            class="fa  fa-edit text-success text-active"></i>

    </a>
    <th:block th:if="${category.hasChildren == false}">
    <a th:href="@{'/categories/delete/' + ${category.id}}"
            title="Delete this user" class="active link-delete"
            ui-toggle-class=""
            th:entityID="${category.id}">
    <i class="fa fa-times text-danger text"></i>
    </a>
    </th:block>
</td>


<!-- Pagination Fragment-->
<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">

        <div class="col-sm-5 text-center">
            <small class="text-muted inline m-t-sm m-b-sm" th:if="${totalItems > 0}">Showing
                [[${startCount}]] to [[${endCount}]] of [[${totalItems}]] [[${entityName}]]</small>

            <small class="text-muted inline m-t-sm m-b-sm" th:unless="${totalItems > 0}">No [[${entityName}]] to show</small>
        </div>


    <div class="col-sm-7 text-right text-center-xs" th:if="${totalPage > 0} ">
        <ul class="pagination pagination-sm m-t-none m-b-none">
            <li th:class="${currentPage > 1 ? '' : 'page-item disabled'}">
                <a th:replace="fragments :: page_link(${moduleURL} ,1, 'First','')"/>
                <!--  <a th:href="@{'/users/page/1?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">First</a>-->
            </li>
            <li th:class="${currentPage > 1 ? '' : 'page-item disabled'}">
                <!--<a th:href="@{'/users/page/' + ${currentPage - 1}+ '?sortField='+ ${sortField} +'&sortDir=' + ${sortDir}}"><i class="fa fa-chevron-left"></i></a>-->
                <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 1}, '','fa fa-chevron-left')"/>
            </li>

            <li th:each="i : ${#numbers.sequence(1,totalPage)}">
                <a th:style="${currentPage != i ? 'background: white' : 'background:pink'}"
                   th:href="@{ ${moduleURL}+ '/page/' + ${i} + '?sortField='+ ${sortField} +'&sortDir=' + ${sortDir}}">[[${i}]]</a>
            </li>

            <li th:class="${currentPage > 1 ? 'page-item disabled' : ''}">

                <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, '','fa fa-chevron-right')"/>
            </li>
            <li th:class="${currentPage > 1 ? 'page-item disabled' : ''}">
                <a th:replace="fragments :: page_link(${moduleURL}, ${totalPage}, 'Last','')"/>
            </li>
        </ul>
    </div>
</div>

<!-- Search, sort fragment-->
<div th:fragment="search_form(moduleURL)" >
    <!--before use fragment-->
    <!--<form th:action="@{/users/page/1}" class="input-group">-->
    <form th:action="@{${moduleURL}}" class="input-group">
        <input type="hidden"  th:value="${sortField}" name="sortField"/>
        <input type="hidden"  th:value="${sortDir}" name="sortDir"/>
        <input type="search" class="input-sm form-control" placeholder="Search" name="keyword" required/>

        <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="submit">Go!</button>

    </form>
    <button class="btn btn-sm btn-default" onclick="clearFilter()">Clear</button>
    </span>
</div>

</body>
</html>