<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body style="background-color:black">

<div class="container-fluid text-center" style="margin-top:50px">
    <div>
        <img style="margin-right:30px" th:src="@{/images/logoDemo.png}"/>
    </div>

    <div th:if="${param.error}">
        <p class="text-danger">
            [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
        </p>
    </div>
    <div th:if="${param.logout}">
        <p class="text-warning">
            You have been logout successfully
        </p>
    </div>

    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto">
        <div class="border border-secondary rounded p-3">
            <p style="color:navajowhite">Login to YangSkull Control Panel</p>
            <p>
                <input type="email" name="email" class="form-control" placeholder="Enter email" required/>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Enter password" required/>
            </p>
            <p style="color:navajowhite">
                <input type="checkbox" name="remember-be"/> Remember Me
            </p>
            <p>
                <input type="submit" value="Login" class="btn btn-primary">
            </p>
        </div>
    </form>

    <div class="footer" style="margin-top: 25px"  >
        <p style="color:navajowhite"> YangSkull Controler Panel - Copyright &copy; Since 2021</p>
    </div>

</div>

</body>
</html>