<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/MainLayout}">
<head>
    <meta charset="UTF-8">
    <title>YangSkull Whisky Admin Controller</title>
</head>
<body>
<div layout:fragment="content">

    <div class="grid_3 grid_5 w3ls" th:if="${message != null}"
         style="margin-top: 15px; margin-bottom: -10px !important;">
        <div class="alert alert-success" role="alert">
            <strong>Well done!</strong> [[${message}]]
        </div>
    </div>
    <div class="grid_3 grid_5 w3ls" th:if="${error != null}"
         style="margin-top: 15px; margin-bottom: -10px !important;">
        <div class="alert alert-danger" role="alert">[[${error}]]</div>
    </div>


    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">Manage Category</div>


            <!-- <div class="grid_3 grid_5 w3ls" th:if="${message != null}">
                <div class="alert alert-success" role="alert">
                    <strong>Well done!</strong> [[${message}]]
                </div>
            </div> -->


            <div class="row w3-res-tb">
                <div class="col-sm-4 m-b-xs">
                    <a th:href="@{/categories/export/excel}" class="btn btn-sm btn-success">Excel <i
                            class="fa fa-download"></i></a>
                    <a th:href="@{/categories/export/pdf}" class="btn btn-sm btn-danger">PDF <i
                            class="fa fa-download"></i></a>
                </div>
                <div class="col-sm-4">
                    <div th:replace="fragments :: search_form('/categories/page/1')"></div>
                </div>
                <div class="col-sm-4">
                    <div style="margin-left: 60%">
                        <a th:href="@{/categories/new}"><i
                                class="fa fa-plus text-success text-active"></i> Create New Category</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                    <tr>
                        <th style="color:black">
                            ID
                        </th>
                        <!-- <th th:replace="fragments :: column_link('id','User ID')"/>-->
                        <th style="color:black"><a>Category Image</a></th>
                        <th style="color:black">
                            <a
                                    th:href="@{'/categories?sortDir=' + ${reverseSortDir}}">Name</a>
                            <span
                                    th:class="${reverseSortDir == 'asc' ? 'fa fa-sort-up' : 'fa fa-sort-down'}"
                                    style="color:black"></span>
                        </th>
                        <th style="color:black">Alias</th>
                        <th style="color:black">Enabled</th>
                        <th style="width: 30px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category : ${listCategory}">

                        <td>[[${category.id}]]</td>
                        <td>
                            <img th:src="@{${category.getImagesPath}}"
                                 width="150px"
                                 height="150px"/>
                        </td>
                        <td><span class="text-ellipsis">[[${category.name}]]</span></td>
                        <td><span class="text-ellipsis">[[${category.alias}]]</span></td>
                        <td>

                            <a style="color: green" th:if="${category.enabled == true}"
                               class="fa fa-check-circle fa-lg "
                               title="Disable this user"
                               th:href="@{'/categories/' + ${category.id} + '/enabled/false'}"></a>
                            <a
                                    style="color: grey" th:if="${category.enabled == false}"
                                    class="fa fa-circle fa-lg "
                                    title="Enable this user"
                                    th:href="@{'/categories/' + ${category.id} + '/enabled/true'}"></a>


                        </td>
                        <!--<td>
                            <div th:replace="fragments :: category_actions"></div>

                        </td>-->
                        <td>
                            <a th:href="@{'/categories/edit/' + ${category.id}}"
                               title="Edit this user" class="active" ui-toggle-class=""> <i
                                    class="fa  fa-edit text-success text-active"></i>

                            </a>
                            <th:block th:if="${category.hasChildren == false}">
                                <a th:href="@{'/categories/delete/' + ${category.id}}"
                                   title="Delete this catgory" class="active link-delete"
                                   ui-toggle-class=""
                                   th:entityID="${category.id}">
                                    <i class="fa fa-times text-danger text"></i>
                                </a>
                            </th:block>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">
                <div th:if="${keyword != null}" class="row">
                    <span>
                        Search result does not show categories in hierarchical form
                    </span>
                    <div th:replace="fragments :: pagination('/categories', 'categories')"></div>
                </div>

                <div th:unless="${keyword != null}" class="row">
                    <div class="row">
                        <div th:replace="fragments :: pagination('/categories', 'top-level categories')"></div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div th:replace="modal_fragments :: delete_dialog"/>


    <script th:src="@{/js/common_list.js}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".link-delete").on("click", function (e) {
                e.preventDefault();
                //alert($(this).attr("href"));

                showDeleteConfirmModal($(this),'category');

            });
        });

        function clearFilter() {
            window.location = "[[@{/categories}]]"
        }


    </script>


</div>
</body>
</html>