<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/MainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Hiu Cinema Admin Controller</title>
</head>
<body>
<div layout:fragment="content">

    <div class="grid_3 grid_5 w3ls" th:if="${message != null}"
         style="margin-top: 15px; margin-bottom: -10px !important;">
        <div class="alert alert-success" role="alert">
            <strong>Well done!</strong> [[${message}]]
        </div>
    </div>
    <div class="grid_3 grid_5 w3ls" th:if="${error != null}"
         style="margin-top: 15px; margin-bottom: -10px !important;">
        <div class="alert alert-danger" role="alert">[[${error}]]</div>
    </div>


    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">Manage Users</div>


            <!-- <div class="grid_3 grid_5 w3ls" th:if="${message != null}">
                <div class="alert alert-success" role="alert">
                    <strong>Well done!</strong> [[${message}]]
                </div>
            </div> -->


            <div class="row w3-res-tb">
                <div class="col-sm-4 m-b-xs">
                    <a th:href="@{/users/export/excel}" class="btn btn-sm btn-success">Excel <i class="fa fa-download"></i></a>
                    <a class="btn btn-sm btn-danger">PDF <i class="fa fa-download"></i></a>
                </div>
                <div class="col-sm-4">
                        <form th:action="@{/users/page/1}" class="input-group">
                            <input type="hidden"  th:value="${sortField}" name="sortField"/>
                            <input type="hidden"  th:value="${sortDir}" name="sortDir"/>
                            <input type="search" class="input-sm form-control" placeholder="Search" name="keyword" required/>

                            <span class="input-group-btn">
								<button class="btn btn-sm btn-default" type="submit">Go!</button>
                        </form>
                             <button class="btn btn-sm btn-default" onclick="clearFilter()">Clear</button>
                            </span>
                </div>
                <div class="col-sm-4">
                    <div style="margin-left: 60%">
                        <a th:href="@{/users/new}"><i
                                class="fa fa-plus text-success text-active"></i> Create New User</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                    <tr>
                        <th>
                                              <a th:if="${sortField != 'id'}" style="color:black"
                                                 th:href="@{'/users/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                                                  User ID</a>
                                              <a th:if="${sortField == 'id'}" style="color:black"
                                                 th:href="@{'/users/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">
                                                  User ID</a>
                                              <span th:if="${sortField == 'id'}"
                                                    th:class="${sortDir == 'asc' ? 'fa fa-sort-up' : 'fa fa-sort-down'}" style="color:black"></span>
                                          </th>
                       <!-- <th th:replace="fragments :: column_link('id','User ID')"/>-->
                        <th style="color:black">Photos</th>
                        <th th:replace="fragments :: column_link('email','Email')"/>
                        <th th:replace="fragments :: column_link('firstName','First Name')"/>
                        <th th:replace="fragments :: column_link('lastName','Last Name')"/>
                        <th style="color:black">Roles</th>
                        <th style="color:black">Enabled</th>
                        <th style="width: 30px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${listUsers}">

                        <td>[[${user.id}]]</td>
                        <td>
                            <img  th:src="@{${user.getPhotosImagePath}}"
                                 width="150px"
                                 height="150px"/>
                        </td>
                        <td><span class="text-ellipsis">[[${user.email}]]</span></td>
                        <td><span class="text-ellipsis">[[${user.firstName}]]</span></td>
                        <td><span class="text-ellipsis">[[${user.lastName}]]</span></td>
                        <td><span class="text-ellipsis">[[${user.roles}]]</span></td>
                        <td>
                            <!-- <span class="text-ellipsis">[[${user.enabled}]]</span> -->
                            <a style="color: green" th:if="${user.enabled == true}"
                               class="fa fa-check-circle fa-lg "
                               title="Disable this user"
                               th:href="@{'/users/' + ${user.id} + '/enabled/false'}"></a>
                            <a
                                style="color: grey" th:if="${user.enabled == false}"
                                class="fa fa-circle fa-lg "
                                title="Enable this user"
                                th:href="@{'/users/' + ${user.id} + '/enabled/true'}"></a>


                        </td>
                        <td><a th:href="@{'/users/edit/' + ${user.id}}"
                               title="Edit this user" class="active" ui-toggle-class=""> <i
                                class="fa  fa-edit text-success text-active"></i>

                        </a> <a th:href="@{'/users/delete/' + ${user.id}}"
                                title="Delete this user" class="active link-delete"
                                ui-toggle-class=""
                                th:userID="${user.id}">
                            <i class="fa fa-times text-danger text"></i>
                        </a></td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">
                <div class="row" >

                    <div class="col-sm-5 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm" th:if="${totalItems > 0}">Showing
                            [[${startCount}]] to [[${endCount}]] of [[${totalItems}]] users</small>

                        <small class="text-muted inline m-t-sm m-b-sm" th:unless="${totalItems > 0}">No users to show</small>
                    </div>

                    <div class="col-sm-7 text-right text-center-xs" th:if="${totalItems > 0} ">
                        <ul class="pagination pagination-sm m-t-none m-b-none">
                            <li th:class="${currentPage > 1 ? '' : 'page-item disabled'}">
                                <a th:replace="fragments :: page_link(1, 'First','')"/>
                              <!--  <a th:href="@{'/users/page/1?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">First</a>-->
                            </li>
                            <li th:class="${currentPage > 1 ? '' : 'page-item disabled'}">
                                <!--<a th:href="@{'/users/page/' + ${currentPage - 1}+ '?sortField='+ ${sortField} +'&sortDir=' + ${sortDir}}"><i class="fa fa-chevron-left"></i></a>-->
                                <a th:replace="fragments :: page_link(${currentPage - 1}, '','fa fa-chevron-left')"/>
                            </li>

                                <li th:each="i : ${#numbers.sequence(1,totalPage)}">
                                    <a th:style="${currentPage != i ? 'background: white' : 'background:pink'}"
                                       th:href="@{'/users/page/' + ${i} + '?sortField='+ ${sortField} +'&sortDir=' + ${sortDir}}">[[${i}]]</a>
                                </li>

                            <li th:class="${currentPage > 1 ? 'page-item disabled' : ''}">

                                <a th:replace="fragments :: page_link(${currentPage + 1}, '','fa fa-chevron-right')"/>
                            </li>
                            <li th:class="${currentPage > 1 ? 'page-item disabled' : ''}">
                                <a th:replace="fragments :: page_link(${totalPage}, 'Last','')"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="modal fade text-center" id="comfirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <span id="confirmText"></span>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-success" href="" id="yesButton">Yes</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $(".link-delete").on("click", function (e) {
                e.preventDefault();
                //alert($(this).attr("href"));

                link = $(this);
                userID = link.attr("userID");
                $("#yesButton").attr("href", link.attr("href"));
                $("#confirmText").text("Are you sure you want delete this user ID " + userID + " ?");
                $("#comfirmModal").modal();
            });

        });

        function clearFilter()
        {
            window.location = "[[@{/users}]]"
        }


    </script>


</div>
</body>
</html>